.chat {

  height: 100vh;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  overflow-y: auto;
}

.input-chat {
  position: fixed;
  /* bottom: 0px; */
  backdrop-filter: blur(4px);
  /* background-color: rgba(255, 255, 255, 0.05); */
  background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%,  rgba(229,120,167,0.3) 30%, rgba(229,120,167,0.3) 69%, rgba(235,2,8,0.25) 100%); 
  /* background: linear-gradient(90deg, rgba(229, 120, 167, 0.3), rgba(235, 2, 10, 0.3)); */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

input.chat-text-input.form-control {
  transition: background-color 0.3s ease, border 1s ease;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

input.chat-text-input.form-control:focus {
  background-color: rgba(0, 0, 0, 0.6);

}
.form-control {
  transition: background-color 0.3s ease, border 1s ease;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(229,120,167, 0.6);
}

.btn.button-send {
  background-color: rgba(229,120,167, 0.3);
  color: pink;
  border: 1px solid rgba(255, 255, 255, 0.5);

  /* display: none; */
}

ul#message-space {
  list-style-type: none;
}