nav {
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 5px 5px 0;
  box-shadow: inset -10px 0 10px rgba(255, 255, 255, 0.1);
}

i.fa-solid {
  margin-right: 8px;
}

@media (min-width: 768px) {
  .sidebar {
    min-width: 245px;
  }
  main {
    margin-left: 250px !important;
  }
}


li a.nav-link.custom-nav-link{
  background-color: rgba(255, 255, 255, 0.05);
  margin: 4px 0 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, border 0.3s ease;
}

li a.nav-link.custom-nav-link:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255);
}

